@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-neutrals-50: theme('colors.neutrals.50');
    --color-neutrals-300: theme('colors.neutrals.300');
    --color-neutrals-900: theme('colors.neutrals.900');
    --color-semantics-grey01: theme('colors.semantics.grey01');
    --color-box-shadow: #00000026;
}
table .ant-table-thead{
    /*display: flex;*/
}
.ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, .ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
    display: none;
}
table .ant-table-thead>tr{
    display: flex;
    column-gap: 24px;
    justify-content: space-between;
    width: 100% !important;
}
table .ant-table-thead>tr>th{
    padding: 16px 0 0 0 !important;
}
table .ant-table-thead>tr>th:nth-child(1){
    min-width: 10.82%;
    padding-left: 10px;
}
table .ant-table-thead>tr>th:nth-child(2){
    min-width: 25.6%;
}
table .ant-table-thead>tr>th:nth-child(3){
    min-width: 19.49%;

}
table .ant-table-thead>tr>th:nth-child(4){
    min-width: 10.82%;
}
table .ant-table-thead>tr>th:nth-child(5){
    min-width: 24.25%;
}

table .ant-table-tbody{
    display: flex;
    flex-direction: column;
    max-width: 100% !important;
    width: 100% !important;
}
table colgroup{
    /*display: none!important;*/
}
table .ant-table-tbody .ant-table-row-level-0{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-neutrals-300) !important;
    border-radius: 8px!important;
    margin-top: 24px;
}
table .ant-table-tbody .ant-table-row >td:nth-child(1){
    width: 10.82%;
}
table .ant-table-tbody .ant-table-row >td:nth-child(2){
    width: 25.6%;
}
table .ant-table-tbody .ant-table-row >td:nth-child(3){
    width: 19.49%;

}
table .ant-table-tbody .ant-table-row >td:nth-child(4){
    width: 10.82%;
}
table .ant-table-tbody .ant-table-row >td:nth-child(5){
    min-width: 24.25%;
}
/*.ant-table-tbody > tr > td:first-child{*/
/*    border-radius: 0 0 0 8px;*/
/*}*/
/*.ant-table-tbody > tr > td:last-child{*/
/*    border-radius: 0 0 8px 0;*/
/*}*/
table .ant-table-thead th.ant-table-cell {
    background: var(--color-neutrals-50) !important;
    /*width: fit-content !important;*/
}
table .ant-table-thead th.ant-table-cell>div {
    /*width: 100%;*/
}
.ant-table-wrapper .ant-table-column-sorter-up,.ant-table-column-sorter-down{
    color: var(--color-neutrals-50);
}
.ant-table-wrapper .ant-table-column-sorter-up,.ant-table-column-sorter-down .active{
    /*color: var(--color-neutrals-50) !important;*/
}
.ant-table-thead .ant-table-column-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
table th.ant-table-cell > div {
    font-size: 16px;
    color: var(--color-neutrals-50);
    background: var(--color-neutrals-900);
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    /*text-[16px] text-neutrals-50 bg-neutrals-900 py-[5px] px-[24px] rounded-[8px]*/
}

table thead tr th {
    border-bottom: none !important;
}

.ant-table-tbody > tr {
    margin-bottom: 24px !important;
    /*width: 100%;*/
    /*min-width: 100%;*/
    /*max-width: 100%;*/
}

.ant-table-tbody > tr{
    transition: box-shadow 0.1s ease-in-out;
}
.ant-table-tbody > tr > td {
    border: none !important;
}
.ant-table-tbody > tr{
    /*margin-top: 24px!important;*/
}
.ant-table-tbody > tr:hover {
    box-shadow: 1px 0 8px 0 var(--color-box-shadow);
    overflow: hidden;
}

tbody tr.ant-table-row.ant-table-row-level-0 {
    background: var(--color-neutrals-50);
}


tbody .ant-table-row .ant-table-cell {
    padding: 12px 16px 12px 17px !important;
}

td.ant-table-cell {
    background: var(--color-neutrals-50) !important;
    color: var(--color-semantics-grey01)
}