@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-brand01: theme('colors.brand01.DEFAULT');
    --color-brand02: theme('colors.brand02.DEFAULT');
    --color-neutrals-50: theme('colors.neutrals.50');
    --color-neutrals-100: theme('colors.neutrals.100');
    --color-neutrals-300: theme('colors.neutrals.300');
    --color-neutrals-900: theme('colors.neutrals.900');
    --color-semantics-grey01: theme('colors.semantics.grey01');
    --color-semantics-green02: theme('colors.semantics.green02');
    --color-border-gradient-from: theme('colors.greenFrom');
    --color-border-gradient-to: theme('colors.greenTo');
    --color-accent01: theme('colors.accent.a01');
    --color-box-shadow: #00000026;
}

table .ant-table-thead tr > th {
    display: flex;
    justify-content: center;
}

.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, .ant-table-wrapper .ant-table-thead > tr > td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
}

table .ant-table-thead > tr {
    display: flex;
    column-gap: 24px;
    justify-content: space-between;
    width: 100% !important;
}

table .ant-table-thead > tr > th {
    padding: 0 !important;
}

table .ant-table-thead > tr > th:nth-child(1) {
    min-width: 10.82%;
    padding-left: 10px;
}

table .ant-table-thead > tr > th:nth-child(2) {
    min-width: 25.6%;
}

table .ant-table-thead > tr > th:nth-child(3) {
    min-width: 19.49%;

}

table .ant-table-thead > tr > th:nth-child(4) {
    min-width: 10.82%;
}

table .ant-table-thead > tr > th:nth-child(5) {
    min-width: 24.25%;
}

table .ant-table-tbody {
    display: flex;
    flex-direction: column;
    max-width: 100% !important;
    width: 100% !important;
}


table .ant-table-tbody .ant-table-row-level-0 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-neutrals-300) !important;
    border-radius: 8px !important;
    margin-top: 24px;
}

table .ant-table-tbody .ant-table-row > td:nth-child(1) {
    width: 10.82%;
}

table .ant-table-tbody .ant-table-row > td:nth-child(2) {
    width: 25.6%;
}

table .ant-table-tbody .ant-table-row > td:nth-child(3) {
    width: 19.49%;

}

table .ant-table-tbody .ant-table-row > td:nth-child(4) {
    width: 10.82%;
}

table .ant-table-tbody .ant-table-row > td:nth-child(5) {
    min-width: 24.25%;
}

table .ant-table-thead th.ant-table-cell {
    background: var(--color-neutrals-50) !important;
}


.ant-table-wrapper .ant-table-column-sorter-up, .ant-table-column-sorter-down {
    color: var(--color-neutrals-50);
}

.ant-table-thead .ant-table-column-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

table th.ant-table-cell > div {
    font-size: 16px;
    color: var(--color-neutrals-50);
    background: var(--color-neutrals-900);
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 100%;
}

table thead tr th {
    border-bottom: none !important;
}

.ant-table-tbody > tr {
    margin-bottom: 24px !important;
}

.ant-table-tbody > tr {
    transition: box-shadow 0.1s ease-in-out;
}

.ant-table-tbody > tr > td {
    border: none !important;
}

.ant-table-tbody > tr {
    /*margin-top: 24px!important;*/
}

.ant-table-tbody > tr:hover {
    box-shadow: 1px 0 8px 0 var(--color-box-shadow);
    overflow: hidden;
}

tbody tr.ant-table-row.ant-table-row-level-0 {
    background: var(--color-neutrals-50);
}


tbody .ant-table-row .ant-table-cell {
    padding: 12px 16px 12px 17px !important;
}

td.ant-table-cell {
    background: var(--color-neutrals-50) !important;
    color: var(--color-semantics-grey01)
}

/*custom css item*/
.sub-item-manage-menu-left-line {
    border: 2px solid var(--color-neutrals-300);
    left: 0;
    height: 71px;
    top: -30px;
    width: 40px;
    border-radius: 0 0 0 8px;
    border-top: none;
    border-right: none;
}

.sub-item-manage-menu-left:nth-child(1) .sub-item-manage-menu-left-line {
    top: 0;
    height: 40px;
}
/*config border-radius using gradient color for item*/
.action-item-button-gradient {
}
.action-item-button-gradient::after {
}


/*end config border-radius using gradient color for item*/

/*end custom css item*/
#add-new-product-container .control-add-product .ant-select-selector{
    border: none;
}

/*toggle button*/
#switch-root .switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
}

/* Hide default HTML checkbox */
#switch-root .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
#switch-root .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-neutrals-100);
    border: 1px solid var(--color-neutrals-300);
    -webkit-transition: .4s;
    transition: .4s;
}

#switch-root .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: var(--color-neutrals-50);
    box-shadow: 0 3px 8px 0 var(--color-box-shadow);
    -webkit-transition: .4s;
    transition: .4s;
}

#switch-root input:checked + .slider {
    background-color: var(--color-semantics-green02);
}

#switch-root input:focus + .slider {
    box-shadow: 0 0 1px var(--color-border-gradient-from);
}

#switch-root input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
#switch-root .slider.round {
    border-radius: 34px;
}

#switch-root .slider.round:before {
    border-radius: 50%;
}
/*end toggle button*/

/*scroll color*/
/* Add this to your CSS file */
* {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: var(--color-accent01) #EBEBEF; /* For Firefox */
}

/* For WebKit browsers */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-accent01);
    border-radius: 6px;
}

*::-webkit-scrollbar-track {
    background-color: #EBEBEF;
    border-radius: 6px;
}
/*scroll color*/

/*editor*/
/*rsw-editor (root container)*/
/*rsw-ce (editable area)*/
/*rsw-toolbar*/
/*rsw-btn*/
/*rsw-separator*/
/*rsw-dd (drop down list)*/
#add-new-product-container .rsw-editor{
   min-height: 70vh;
}
#add-new-product-container .rsw-toolbar{
    background-color: white;
    border-bottom: none;
}

/*editor*/